.hidden-title {
  display: none;
}
#advantages {
  background: #1e1823;
}
.advantages-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 375px;
  padding: 20px;
  margin: 0 auto;
}
.advantages-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.advantages-icon {
  display: flex;
  flex-shrink: 0;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  width: 62px;
  height: 62px;
  padding: 15px;
}
.advantages-title {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}
.advantages-paragraph {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
  text-align: justify;
}
@media screen and (min-width: 768px) {
}
