.top-sellers {
  width: 100%;
  margin: 0 auto;
  margin-top: 72px;
}

.orange-text {
  color: var(--orange-main);
  margin-left: 7px;
}

.top-sellers-container {
  width: 335px;
  margin: 0 auto;
}

.top-sellers-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}
.top-sellers-image-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 0;
}

.top-sellers-first-picture {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.top-sellers-text-area {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: var(--black-main);
  width: 368px;
  text-align: justify;
}

.top-sellers-third-picture {
  display: none;
}

.top-sellers-btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-sellers-buy-now-btn {
  font-weight: 600;
  font-size: 18px;
  color: var(--white-main);
  border-radius: 100px;
  padding: 14px 40px;
  background-color: var(--orange-main);
  border: none;
  margin-top: 30px;
}

.top-sellers-buy-now-btn:hover,
.top-sellers-buy-now-btn:focus {
  background-color: var(--white-main);
  color: var(--orange-main);
  cursor: pointer;
  outline: none;
}

@media screen and (min-width: 768px) {
  .top-sellers-container {
    width: 704px;
    position: relative;
  }

  .top-sellers-image-wrapper {
    flex-direction: row;
    gap: 10px;
    padding: 0;
  }

  .top-sellers-btn-wrapper {
    position: absolute;
    bottom: 15px;
    right: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .top-sellers-container {
    width: 1200px;
  }

  .top-sellers-third-picture {
    display: inline-flex;
  }
  .top-sellers-image-wrapper {
    width: 100%;
    justify-content: space-between;
  }
}
