<section class="container-blocks adaptiv" id="blocks-taste">
  <div class="blocks-container">
    <div class="title-container">
      <h2 class="title">
        IT ALL ADDS UP TO ONE EXCEPTIONAL
        <span class="blocks-title-title">TASTE</span> SENSATION
      </h2>
      <p class="description">
        At Simply Chocolate&#8218; we believe that the secret to exceptional
        chocolate is in the details&#8228; From the sourcing of the finest
        ingredients to the careful crafting of each individual piece&#8218;
        every step of our process adds up to one exceptional taste
        sensation&#8228;
      </p>
    </div>
    <ul class="card-container">
      <li class="individual-card">
        <div class="front milk-chocolate">
          <div class="content">
            <picture>
              <source
                srcset="
                  ./images/chocolate-bar-d-1x.webp,
                  ./images/chocolate-bar-d-2x.webp
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/chocolate-bar-m-1x.webp,
                  ./images/chocolate-bar-m-2x.webp
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/chocolate-bar-m-1x.webp,
                  ./images/chocolate-bar-m-2x.webp
                "
                media="(min-width: 320px)"
              />
              <img
                class="img-taste"
                src="./images/chocolate-bar-d-1x.webp"
                alt="chocolate bar"
                width="224"
                height="171"
              />
            </picture>
            <h3 class="title-card">MILK CHOCOLATE</h3>
          </div>
        </div>
        <div class="back">
          <div class="content">
            <h3 class="subtitle-taste">Milk chocolate</h3>
            <ul class="list-taste">
              <li>
                <a
                  class="btn-taste active-taste"
                  href="https://en.wikipedia.org/wiki/Milk_chocolate"
                  target="_blank"
                  rel="noopener noreferrer nofallow"
                >
                  chocolate
                </a>
              </li>
              <li>
                <a
                  class="btn-taste"
                  href="https://chocolate.fandom.com/wiki/Health_benefits_of_chocolate"
                  target="_blank"
                  rel="noopener noreferrer nofallow"
                  >the benefits</a
                >
              </li>
            </ul>
            <p class="text-taste">
              Milk chocolate is a solid chocolate confectionery containing
              cocoa&#8218; sugar and milk&#8228; It is the most consumed type of
              chocolate&#8228; Chocolate was originally sold and consumed as a
              beverage in pre-Columbian times. Although four-fifths of all milk
              chocolate is sold in the United States and Europe, increasingly
              large amounts are consumed in China and Latin America.
            </p>
          </div>
        </div>
      </li>
      <li class="individual-card">
        <div class="front milk">
          <div class="content">
            <picture>
              <source
                srcset="
                  ./images/milk-bottle-d-1x.webp,
                  ./images/milk-bottle-d-2x.webp
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/milk-bottle-m-1x.webp,
                  ./images/milk-bottle-m-2x.webp
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/milk-bottle-m-1x.webp,
                  ./images/milk-bottle-m-2x.webp
                "
                media="(min-width: 320px)"
              />
              <img
                class="img-taste"
                src="./images/milk-bottle-d-1x.webp"
                alt="milk bottle"
                width="224"
                height="171"
              />
            </picture>
            <h3 class="title-card">MILK</h3>
          </div>
        </div>
        <div class="back">
          <div class="content">
            <h3 class="subtitle-taste">Milk</h3>
            <ul class="list-taste">
              <li>
                <a
                  class="btn-taste active-taste"
                  href="https://en.wikipedia.org/wiki/Milk"
                  target="_blank"
                  rel="noopener noreferrer nofallow"
                >
                  milk
                </a>
              </li>
              <li>
                <a
                  class="btn-taste"
                  href="https://milk.fandom.com/wiki/Milk"
                  target="_blank"
                  rel="noopener noreferrer nofallow"
                  >the benefits</a
                >
              </li>
            </ul>
            <p class="text-taste">
              Milk is a white liquid food produced by the mammary glands of
              mammals&#8228; It is the primary source of nutrition for young
              mammals (including breastfed human infants) before they are able
              to digest solid food&#8228;Early&#8209;lactation milk&#8218; which
              is called colostrum&#8218; contains antibodies that strengthen the
              immune system&#8228;
            </p>
          </div>
        </div>
      </li>
      <li class="individual-card">
        <div class="front nuts">
          <div class="content">
            <picture>
              <source
                srcset="./images/nuts-d-1x.webp, ./images/nuts-d-2x.webp"
                media="(min-width: 1280px)"
              />
              <source
                srcset="./images/nuts-m-1x.webp, ./images/nuts-m-2x.webp"
                media="(min-width: 768px)"
              />
              <source
                srcset="./images/nuts-m-1x.webp, ./images/nuts-m-2x.webp"
                media="(min-width: 320px)"
              />
              <img
                class="img-taste"
                src="./images/nuts-d-1x.webp"
                alt="chocolate nuts"
                width="224"
                height="171"
              />
            </picture>
            <h3 class="title-card">NUTS</h3>
          </div>
        </div>
        <div class="back">
          <div class="content">
            <h3 class="subtitle-taste">NUTS</h3>
            <ul class="list-taste">
              <li>
                <a
                  class="btn-taste active-taste"
                  href="https://en.wikipedia.org/wiki/Nut_(fruit)#:~:text=Many%20nuts%20are%20good%20sources,potassium%2C%20copper%2C%20and%20selenium."
                  target="_blank"
                  rel="noopener noreferrer nofallow"
                >
                  nuts
                </a>
              </li>
              <li>
                <a
                  class="btn-taste"
                  href="https://thenutmarket.com.au/blogs/health-benefits/types-of-nuts-10-different-nuts-their-health-benefits"
                  target="_blank"
                  rel="noopener noreferrer nofallow"
                  >the benefits</a
                >
              </li>
            </ul>
            <p class="text-taste">
              Almonds, pistachios, and walnuts are some types of nuts that
              contain healthy nutrients. When eaten as part of a nutrient-dense
              diet, these 9 nuts may offer benefits such as reducing your risk
              of heart disease. They&#8217;re a good source of fiber, healthy
              fats, and plant protein. Plus, they&#8217;re great on their own.
            </p>
          </div>
        </div>
      </li>
      <li class="individual-card">
        <div class="front milk">
          <div class="content">
            <picture>
              <source
                srcset="
                  ./images/chocolate-beans-d-1x.webp,
                  ./images/chocolate-beans-d-2x.webp
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/chocolate-beans-m-1x.webp,
                  ./images/chocolate-beans-m-2x.webp
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/chocolate-beans-m-1x.webp,
                  ./images/chocolate-beans-m-2x.webp
                "
                media="(min-width: 320px)"
              />
              <img
                class="img-taste"
                src="./images/chocolate-beans-d-1x.webp"
                alt="chocolate beans"
                width="224"
                height="171"
              />
            </picture>
            <h3 class="title-card">semi - sweet chocolate</h3>
          </div>
        </div>
        <div class="back">
          <div class="content">
            <h3 class="subtitle-taste">semi - sweet chocolate</h3>
            <ul class="list-taste">
              <li>
                <a
                  href="https://en.wikipedia.org/wiki/Chocolate"
                  class="btn-taste active-taste"
                  target="_blank"
                  rel="noopener noreferrer nofallow"
                >
                  sweet chocolate
                </a>
              </li>
              <li>
                <a
                  href="https://chocolate.fandom.com/wiki/Health_benefits_of_chocolate"
                  class="btn-taste"
                  target="_blank"
                  rel="noopener noreferrer nofallow"
                  >the benefits</a
                >
              </li>
            </ul>
            <p class="text-taste">
              Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One
              of the best ways to gain an understanding of this type of
              chocolate is to compare it to a different type of chocolate&#8228;
              Semisweet is darker than milk chocolate&#8228; In a taste
              comparison&#8218; it has a slightly bitter taste whereas milk
              chocolate is sweeter&#8228;
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
