<header id="header" title="Main header">
  <nav class="header-section">
    <div class="header-logo">
      <a href="index.html">
        <span class="simply-logo">SIMPLY</span> CHOCOLATE
        <svg class="chocolate-logo">
          <use href="./images/icons.svg#icon-chocolate"></use>
        </svg>
      </a>
    </div>
    <ul class="header-navigation-bar">
      <li><a href="#header">Home</a></li>
      <li><a href="#how-its-made">How it's made?</a></li>
      <li><a href="">Our products</a></li>
      <li><a href="">Top sellers</a></li>
      <li><a href="">Chocolate is loved</a></li>
    </ul>
    <ul class="header-icons-bar">
      <li>
        <a
          href="https://instagram.com"
          target="_blank"
          rel="nofollow noopener noreferrer"
          aria-label="instagram link"
        >
          <svg class="header-social">
            <use href="./images/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://twitter.com"
          target="_blank"
          rel="nofollow noopener noreferrer"
          aria-label="instagram link"
        >
          <svg class="header-social">
            <use href="./images/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
    <!-- Burger button -->
    <button class="header-modal-button" data-modal-open-header>
      <svg class="burger-button">
        <use href="./images/icons.svg#icon-header-burger-button"></use>
      </svg>
    </button>
  </nav>
</header>

<!-- Mobile Modal -->
<div class="header-modal header-modal-is-hidden" data-modal-header>
  <ul class="navigation-header-bar">
    <li><a href="#header">Home</a></li>
    <li><a href="#how-its-made">How it's made?</a></li>
    <li><a href="">Our products</a></li>
    <li><a href="">Top sellers</a></li>
    <li><a href="">Chocolate is loved</a></li>
  </ul>
  <button class="close-burger-btn" data-modal-close-header>
    <i class="fa-solid fa-rectangle-xmark"></i>
  </button>
  <ul class="header-icons-section">
    <li>
      <a
        href="https://www.instagram.com/"
        target="_blank"
        rel="nofollow noopener noreferrer"
        aria-label="instagram link"
      >
        <svg class="header-social-icons">
          <use href="./images/icons.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li>
      <a
        href="https://twitter.com/"
        target="_blank"
        rel="nofollow noopener noreferrer"
        aria-label="instagram link"
      >
        <svg class="header-social-icons">
          <use href="./images/icons.svg#icon-twitter"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
