<section class="our-products" id="our-products">
  <div class="container">
    <h2 class="our-products-title">
      our <span class="our-products-title-span">products</span>
    </h2>
    <div class="swiper mySwiper">
      <ul class="swiper-wrapper our-products-list">
        <li class="our-products-item swiper-slide">
          <img
            srcset="./images/orange-1x.webp, ./images/orange-2x.webp"
            src="./images/orange-1x.webp"
            alt="orange dark-chocolate"
            width="230"
            height="201"
          />
          <div class="our-products-chocolate-describe">
            <h3 class="our-products-chocolate-name">Orange</h3>
            <p class="our-products-chocolate-type">Dark chocolate</p>
            <button class="button our-products-chocolate-button">45 uah</button>
          </div>
        </li>
        <li class="our-products-item swiper-slide">
          <img
            srcset="
              ./images/apple-cranberry-1x.webp 1x,
              ./images/apple-cranberry-2x.webp 2x
            "
            src="./images/apple-cranberry-1x.webp"
            alt="apple-cranberry milk-chocolate"
            width="230"
            height="201"
          />
          <div class="our-products-chocolate-describe">
            <h3 class="our-products-chocolate-name">apple&cranberry</h3>
            <p class="our-products-chocolate-type">Milk chocolate</p>
            <button class="button our-products-chocolate-button">50 uah</button>
          </div>
        </li>
        <li class="our-products-item swiper-slide">
          <img
            srcset="
              ./images/lime-sea-salt-1x.webp 1x,
              ./images/lime-sea-salt-2x.webp 2x
            "
            src="./images/lime-sea-salt-1x.webp"
            alt="lime-sea-salt dark-chocolate"
            width="230"
            height="201"
          />
          <div class="our-products-chocolate-describe">
            <h3 class="our-products-chocolate-name">lime&sea salt</h3>
            <p class="our-products-chocolate-type">Dark chocolate</p>
            <button class="button our-products-chocolate-button">66 uah</button>
          </div>
        </li>
        <li class="our-products-item swiper-slide">
          <img
            srcset="
              ./images/pineapple-1x.webp 1x,
              ./images/pineapple-2x.webp 2x
            "
            src="./images/pineapple-1x.webp"
            alt="pineapple dark-chocolate"
            width="230"
            height="201"
          />
          <div class="our-products-chocolate-describe">
            <h3 class="our-products-chocolate-name">pineapple</h3>
            <p class="our-products-chocolate-type">Dark chocolate</p>
            <button class="button our-products-chocolate-button">54 uah</button>
          </div>
        </li>
        <li class="our-products-item swiper-slide">
          <img
            srcset="
              ./images/classic-milk-1x.webp 1x,
              ./images/classic-milk-2x.webp 2x
            "
            src="./images/classic-milk-1x.webp"
            alt="classic milk-chocolate"
            width="230"
            height="201"
          />
          <div class="our-products-chocolate-describe">
            <h3 class="our-products-chocolate-name">classic</h3>
            <p class="our-products-chocolate-type">Milk chocolate</p>
            <button class="button our-products-chocolate-button">45 uah</button>
          </div>
        </li>
        <li class="our-products-item swiper-slide">
          <img
            srcset="./images/honey-1x.webp, ./images/honey-2x.webp"
            src="./images/honey-1x.webp"
            alt="honey milk-chocolate"
            width="230"
            height="201"
          />
          <div class="our-products-chocolate-describe">
            <h3 class="our-products-chocolate-name">honey</h3>
            <p class="our-products-chocolate-type">Milk chocolate</p>
            <button class="button our-products-chocolate-button">50 uah</button>
          </div>
        </li>
        <li class="our-products-item swiper-slide">
          <img
            srcset="
              ./images/roasted-fruits-1x.webp 1x,
              ./images/roasted-fruits-2x.webp 2x
            "
            src="./images/roasted-fruits-1x.webp"
            alt="roasted-fruits dark-chocolate"
            width="230"
            height="201"
          />
          <div class="our-products-chocolate-describe">
            <h3 class="our-products-chocolate-name">roasted fruits</h3>
            <p class="our-products-chocolate-type">Dark chocolate</p>
            <button class="button our-products-chocolate-button">66 uah</button>
          </div>
        </li>
        <li class="our-products-item swiper-slide">
          <img
            srcset="
              ./images/classic-white-1x.webp 1x,
              ./images/classic-white-2x.webp 2x
            "
            src="./images/classic-white-1x.webp"
            alt="classic white-chocolate"
            width="230"
            height="201"
          />
          <div class="our-products-chocolate-describe">
            <h3 class="our-products-chocolate-name">classic</h3>
            <p class="our-products-chocolate-type">White chocolate</p>
            <button class="button our-products-chocolate-button">54 uah</button>
          </div>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
      <!-- <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div> -->
    </div>
  </div>
</section>
